// Variables
// ==================
:root {
    --white: #fff;
    --black: #353535;
    --text: #5a5050;
    --blue: #2da2c3;
    --blue-rgb: rgba(45, 162, 195, 0.75);
    --darkBlue: #364f6b;
    --pink: #fc5185;
    --darkPink: #fb1f62;
    --gray: #f5f5f5;

    --gap: 20px;
    --space: 8px;
}

// Outils
// ==================
@import "components/reset";
@import "components/functions";
@import "components/mixins";
@import "components/layout";
@import "components/typography";
@import "components/buttons";
@import "components/forms";

// Generic
// ==================
body {
    font-family:$font;
}
%readmore, .readmore {
  display:flex;
  justify-content: flex-end;
  padding:1.5rem 2rem;
  font-size:20px;
}
%readmore span, .readmore span {
  display:flex;
  flex-direction: column;
}
%readmore span::after, .readmore span::after {
  content:'';
  display:flex;
  height:3px;
  width:0;
  background:var(--blue);
  margin-top:5px;
  transition:all .3s linear;
}
.content-page {
  margin-bottom: space(7);
  font-size:20px;
  line-height: 1.4;
}
.content-page p {
  margin-bottom: space(3);
}

// Modules
// ==================
@import "modules/header/header";
@import "modules/navbar/navbar";
@import "modules/footer/footer";

@import "modules/domaines/domaines";
@import "modules/projets/projets";
@import "modules/blog/blog";
