.featured {
  padding-top:space(5);
  padding-bottom:space(5);
  background:var(--gray);
}
%article, .liste-projets {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.liste-projets li {
  width:100%;
  @extend %shadow;
  @extend %border;
  @extend %radius;
  background:var(--white);
  margin-bottom:space(4);
}
.liste-projets__photo {
  position:relative;
  height:300px;
  background-position:top center;
  background-repeat:no-repeat;
  background-size:cover;
}
.liste-projets__photo.no-thumb {
  background: url(./logo-yannick-ratel-html-css.png) center center no-repeat !important;
}
.liste-projets__photo::before, %article, .liste-projets__photo::after {
  opacity:0;
  transition:all .3s linear;
}
.liste-projets__photo::before {
  content:'+';
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:var(--blue-rgb);
  color:var(--white);
  font-size:100px;
}
.liste-projets__photo::after {
  content:'';
  position:absolute;
  display: flex;
  top:50%;
  left:50%;
  width:100px;
  transform: translate(-50%, -50%);
  height:100px;
  border-radius:50%;
  border:10px solid var(--white);
}
.liste-projets__photo img {
  width:100%;
  max-height:100%;
  display:block;
  object-fit: cover;
  object-position: top center;
  border-radius:8px 8px 0;
}
.liste-projets a {
  color:var(--text);
  text-decoration:none;
}
.liste-projets a:hover .liste-projets__photo::before,
.liste-projets a:hover .liste-projets__photo::after {
  opacity:1;
}
.liste-projets h2 {
  padding:space(2) space(1);
  line-height:1.2;
}
.liste-projets .support {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 space(3);
  margin-bottom:space(2);
}
.liste-projets .support::before {
  content:'';
  width:35px;
  height:35px;
  margin-right:space(1);
  background-size:100% 100%;
  background-size:cover;
}
.liste-projets .support.wordpress::before {
  background-image:url(./logo-wordpress.svg);
}
.liste-projets .support.prestashop::before {
  background-image:url(./logo-prestashop.svg);
}
.liste-projets .support.symfony::before {
  background-image:url(./logo-symfony.svg);
}
.portfolio .featured {
  background:none;
  padding-top: 0;
}
.portfolio .featured h3 {
  display:none;
}

@media only screen and (min-width:769px) {
  .liste-projets {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .liste-projets li {
    width:48%;
    margin-bottom: space(4);
  }
}
