.footer, .mentions {
  background:var(--black);
  color:var(--white);
}
.footer a, .mentions a {
  color:inherit;
  text-decoration:none;
}
.footer a:hover, .mentions a:hover {
  text-decoration:underline;
}
.footer {
  display:flex;
  flex-direction: column;
  padding-top:space(4);
  padding-bottom:space(4);
}
.footer__col {
  margin-bottom:30px;
}
.footer h3 {
  margin-bottom:space(5);
}
.footer__menu li {
  margin-bottom:10px;
}
.footer__menu li a {
  font-size:20px;
}
.footer__social {
  display:flex;
}
.footer__social a {
  display:flex;
  width:40px;
  height:40px;
  margin-right:space(3);
  background-color: var(--white);
  mask-repeat:no-repeat;
  mask-position:center;
  mask-size:cover;
  transition: all .3s linear;
}
.footer__social a.icon-facebook {
  mask-image: url(./icon-facebook.svg);
}
.footer__social a.icon-twitter {
  mask-image:url(./icon-twitter.svg);
}
.footer__social a.icon-linkedin {
  mask-image:url(./icon-linkedin.svg);
}
.footer__social a.icon-pinterest {
  mask-image:url(./icon-pinterest.svg);
}
.footer__social a.icon-instagram {
  mask-image:url(./icon-instagram.svg);
}
.footer__social a:hover {
  background-color: var(--blue);
}
.mentions {
  display:flex;
  flex-direction: column;
  align-items: center;
  border-top:1px solid var(--white);
  padding-top:space(3);
  padding-bottom:space(3);
}
.mentions__baseline {
  padding-top:space(2);
}
.mentions__baseline span + span::before {
  content:'-';
  margin:0 7px 0 6px;
}

@media only screen and (min-width:769px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__col {
    margin-bottom:0;
  }
  .footer__social {
    justify-content: flex-end;
  }
  .footer__social a {
    margin-right:0;
  }
  .footer__social a + a {
    margin-left:space(3);
  }
  .mentions {
    flex-direction: row;
    justify-content: space-between;
  }
  .mentions__baseline {
    padding:0;
  }
}
