.homeposts {
  padding-top:space(5);
  padding-bottom:space(5);
}
.liste-posts {
  display:grid;
  grid-template-columns: 1fr;
  grid-row-gap: space(3);
}
.liste-posts li {
  width:100%;
  @extend %shadow;
  @extend %border;
  @extend %radius;
  background:var(--white);
}
.liste-posts__photo {
  position:relative;
  height:300px;
  background-position:top center;
  background-repeat:no-repeat;
  background-size:cover;
  border-radius:8px 8px 0;
}
.liste-posts__photo.no-thumb {
  background: url(../projets/logo-yannick-ratel-html-css.png) center center no-repeat !important;
}
.liste-posts__photo img {
  width:100%;
  max-height:100%;
  display:block;
  object-fit: cover;
  border-radius:8px 8px 0 0;
}
.liste-posts .h2, .liste-posts__desc {
  padding: space(2) space(3);
}
.liste-posts li .h2 {
  @extend %h2;
  border-bottom: 2px solid var(--blue);
}
.liste-posts__desc {
  font-size:20px;
  line-height:1.4;
}
.liste-posts a {
  display: block;
}
.liste-posts a:hover .readmore span::after {
  width:100%;
}
.blog .homeposts {
  padding-top: 0;
}
.blog .homeposts h3 {
  display:none;
}

@media only screen and (min-width:768px)  {
  .liste-posts {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: space(4);
    grid-row-gap: space(2);
  }
  .liste-posts li:first-child {
    grid-column: span 2;
  }
  .liste-posts li:first-child .liste-posts__photo {
    height:300px;
  }
}

@media only screen and (min-width:1100px) {
  .liste-posts {
    grid-template-columns: 375px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: space(4);
    grid-row-gap: space(2);
  }
  .liste-posts__photo {
    height:200px;
  }
  .liste-posts__desc {
    min-height:230px;
  }
  .liste-posts li:first-child {
    grid-column: 1;
    grid-row: span 2;
  }
  .liste-posts li:first-child .liste-posts__photo {
    height:808px;
  }
  .liste-posts li:first-child .liste-posts__photo img {
    height: 100%;
  }
}
