.domaines {
  margin-bottom: space(4);
}
.domaines__liste {
  display:grid;
  grid-template-columns: 1fr;
  grid-row-gap: space(3);
}
.domaines__liste li {
  @extend %shadow;
  @extend %border;
  width:100%;
  padding:20px;
  margin-bottom:2rem;
  font-size:20px;
  line-height:1.4;
}
.domaines__liste li h4 {
  @extend %h4;
  margin-bottom: space(4);
}
.domaine__icon {
  text-align:center;
  margin-bottom: space(2);
}
.domaine__icon img {
  max-width:75%;
  max-height:200px;
}
.contact-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: space(5);
}
.contact-home p {
  font-size:22px;
  line-height:1.3;
}
.contact-home p:first-child {
  margin-bottom: space(5);
}

@media only screen and (min-width:769px) {
  .domaines__liste {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: calc(var(--gap) * 4);
    grid-row-gap: calc(var(--gap) * 2);
  }
  .domaines__liste li:first-child {
        grid-column: span 3;
  }
}
