.menu {
    display:flex;
    justify-content: center;
    align-items: center;
    background:var(--black);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    transition:all .3s linear;
    margin-bottom: 80px;
}
.menu a {
    color:var(--white);
    text-decoration:none;
    font-size:25px;
    position:relative;
    z-index:1;
    display:flex;
    align-items: center;
    height: 80px;
    padding:0 30px;
    cursor:pointer;
}
.menu a::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    color: transparent;
    background: var(--blue);
    visibility: none;
    opacity: 0;
    z-index: -1;
    transition: all .5s;
}
.menu li:first-child a.active::after {
    opacity:0;
    height:1px;
}
.menu a:hover, .menu a.active {
    color:var(--white);
}
.menu a:hover::after, .menu li:first-child a.active:hover::after, .menu a.active::after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

@media only screen and (max-width:768px) {
    .navbar {
        position:fixed;
        top:0;
        left:-70%;
        width:60%;
        height:100%;
        z-index:10;
        background:var(--white);
        opacity:.95;
        transition:all 0.3s linear;
    }
    .menu {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        width:100%;
        height:100%;
        background:var(--white);
        margin-bottom: 0;
    }
    .menu a {
        color:var(--text);
        font-size:30px;
    }
    .menu a:hover {
        color:var(--text);
    }
    .menu a:hover::after {
        opacity:0 !important;
    }
}
