.bt-primary {
  display:flex;
  justify-content: center;
  align-items: center;
  background:var(--pink);
  border:2px solid var(--darkBlue);
  color:var(--white);
  padding:20px 30px;
  text-decoration:none;
  outline:none;
  position:relative;
  font-size:30px;
  transition:.5s all ease;
}
.bt-primary::before, .bt-primary::after {
  content: "";
  position: absolute;
  border: 2px solid var(--darkBlue);
  width: calc(100% + 15px);
  height: 60px;
  transition: 0.5s ease;
}
.bt-primary::after {
  top: -15px;
  left: -15px;
  border-right: none;
  border-bottom: none;
}
.bt-primary::before {
  bottom: -15px;
  right: -15px;
  border-left: none;
  border-top: none;
}
.bt-primary:hover {
  background:var(--white);
  color:var(--darkBlue);
}
.bt-primary:hover::after, .bt-primary:hover::before {
  width: calc(100% - 30px);
  height: 80px;
  border-color:var(--darkPink);
}

%bt-secondary, .bt-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--blue);
    color:var(--white);
    border:2px solid var(--pink);
    font-size:25px;
    transition:all .3s linear;
    padding:10px 20px;
    text-decoration:none;
    cursor: pointer;
}
%bt-secondary:hover, .bt-secondary:hover {
  background:var(--white);
  color:var(--blue);
}
