input[type="text"], input[type="email"],
select, textarea {
  @extend %input;
  width: 500px;
  max-width:100%;
}
textarea {
  height:200px;
  padding-top:5px;
  padding-bottom:5px;
}
label {
  @extend %label;
  margin-bottom:space(1);
}
