// Conteneur
// ==================

:root {
  --container-padding: 20px;
  --container-width: calc(100% - 40px);
}

@media only screen and (min-width:1200px) {
  :root {
    --container-width: 1170px;
  }
}

%container,
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

%container-margin {
  margin-left: auto;
  margin-right: auto;
  width: var(--container-width);
}
