// Variables
// ==================
$font: 'aller', sans-serif;
$font-avenir: 'avenir', sans-serif;

// Font face
// ==================

@include font-face('aller', '../../fonts/aller_rg-webfont', 400, null, woff ttf svg eot);
@include font-face('avenir', '../../fonts/AvenirLT-Heavy', 800, null, woff ttf svg eot);


%h2, .h2 {
    font-size:20px;
}
%h3, .h3 {
    display:flex;
    flex-direction: column;
    font-size:30px;
    margin-bottom:6rem;
    &:after {
        content:'';
        height:.6rem;
        width:100px;
        margin-top:10px;
        background:var(--blue);
    }
}
%h4, .h4 {
    font-size:20px;
    color:var(--pink);
    border-bottom:1px solid var(--pink);
    padding-bottom:10px;
    text-align:center;
    a {
        color:inherit;
    }
}

@media only screen and (min-width:769px) {
    %h2, .h2 {
        font-size:25px;
    }
    %h3, .h3 {
        font-size:40px;
    }
    %h4, .h4 {
        font-size:25px;
    }
}
