.header {
  background-size: cover;
  background-attachment : fixed;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow:0 0 10px rgba(0,0,0,0.75);
  color:var(--white);
  position:relative;
  height:60vh;
  padding:0 2%;
  text-align:center;
  border-bottom:5px solid var(--black);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background-image:url(./bg-header.jpg);
}
.header::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:rgba(0,0,0,.2);
    z-index:1;
}
.header .header__logo {
  height: 130px;
  pointer-events: none;
  margin-bottom: space(2);
}
.header .header__logo img {
  height:100%;
}
.header .header__title {
  position:relative;
  z-index:2;
  font-size: 60px;
  text-transform:uppercase;
  line-height:1.1;
  margin-bottom: space(2);
}
.header .header__subtitle {
  position:relative;
  z-index:2;
  font-size:20px;
}
.toggle-menu {
  display:block;
  cursor:pointer;
  width:100px;
  height:100px;
  top:20px;
  right:25px;
  position:absolute;
  cursor:pointer;
  border-radius:5px;
  z-index:1;
  background:rgba(255,255,255,.7);
}
.toggle-menu button {}
.toggle-menu span {
  display:block;
  background:#566973;
  border-radius:2px;
  transition:.25s ease-in-out;
}
.toggle-menu .hamburger {
  position:absolute;
  height:100%;
  width:100%;
}
.toggle-menu .hamburger span {
  width:60px;
  height:4px;
  position:relative;
  top:24px;
  left:20px;
  margin:10px 0;
}
.toggle-menu .hamburger span:nth-child(1){
  transition-delay:.5s;
}
.toggle-menu .hamburger span:nth-child(2){
  transition-delay:.625s;
}
.toggle-menu .hamburger span:nth-child(3){
  transition-delay:.75s;
}
.toggle-menu .cross {
  position:absolute;
  height:100%;
  width:100%;
  transform:rotate(45deg);
}
.toggle-menu .cross span:nth-child(1) {
  height:0%;
  width:4px;
  position:absolute;
  top:10%;
  left:48px;
  transition-delay:0s;
}
.toggle-menu .cross span:nth-child(2) {
  width:0%;
  height:4px;
  position:absolute;
  left:10%;
  top:48px;
  transition-delay:.25s;
}
.toggle-menu.open .hamburger span {
  width:0%;
}
.toggle-menu.open .hamburger span:nth-child(1) {
  transition-delay:0s;
}
.toggle-menu.open .hamburger span:nth-child(2) {
  transition-delay:.125s;
}
.toggle-menu.open .hamburger span:nth-child(3) {
  transition-delay:.25s;
}
.toggle-menu.open .cross span:nth-child(1) {
  height:80%;
  transition-delay:.625s;
}
.toggle-menu.open .cross span:nth-child(2) {
  width:80%;
  transition-delay:.375s;
}

@media only screen and (max-width:768px) {
  .header {
    margin-bottom: 80px;
  }
}
@media only screen and (min-width:769px) {
  .header {
    border:0;
    box-shadow: none;
  }
  .header .header__logo {
    height:200px;
  }
  .header .header__title {
    font-size:100px;
  }
  .header .header__subtitle {
    font-size:35px;
  }
  .toggle-menu {
    display: none;
  }
}
